# --- IntelliJ IDEA ---
.idea/
*.iws
*.iml
*.ipr
out/

# Ignoruj specyficzne pliki konfiguracyjne użytkownika
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries/
.idea/vcs.xml
.idea/dataSources.local.xml

# --- Ogólne ---
.DS_Store
.attach_pid*
node_modules/
target/
build/
